## Preprocessing

In [3]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN', 'NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [6]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [7]:
# Look at APPLICATION_TYPE value counts for binning
type_values = application_df['APPLICATION_TYPE'].value_counts()
type_values

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(type_values.iloc[8:].index)
cutoff_values = 550

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts for binning
classification_types = application_df['CLASSIFICATION'].value_counts()
classification_types

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [10]:
# You may find it helpful to look at CLASSIFICATION value counts >1
clean_classification = classification_types.loc[classification_types > 1]
clean_classification.head()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_types.iloc[5:].index)
cutoff_values = 1500

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [12]:
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [13]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies = pd.get_dummies(application_df)
dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [14]:
# Split our preprocessed data into our features and target arrays
y = dummies['IS_SUCCESSFUL'].values
X = dummies.drop(columns = 'IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation= "sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 352

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 403 (1.57 KB)
Trainable params: 403 (1.57 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [17]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [18]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 4s 3ms/step - loss: 0.6336 - accuracy: 0.6642
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5645 - accuracy: 0.7255
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5561 - accuracy: 0.7281
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5534 - accuracy: 0.7291
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5515 - accuracy: 0.7311
Epoch 6/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5505 - accuracy: 0.7315
Epoch 7/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5496 - accuracy: 0.7332
Epoch 8/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5483 - accuracy: 0.7325
Epoch 9/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5477 - accuracy: 0.7338
Epoch 10/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5473 - accuracy: 0.7330
Epoch 11/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5465 - accuracy: 0.7340
Epoch 12/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5459 - accuracy: 0.7345
Epoch 13/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5455 - accuracy: 0.7336
Epoch 14/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5456 - accuracy: 0.7352
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7337
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7341
Epoch 17/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5445 - accuracy: 0.7343
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7354
Epoch 19/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5441 - accuracy: 0.7349
Epoch 20/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5439 - accuracy: 0.7354
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5440 - accuracy: 0.7346
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5437 - accuracy: 0.7362
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5434 - accuracy: 0.7350
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5437 - accuracy: 0.7360
Epoch 25/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5433 - accuracy: 0.7355
Epoch 26/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5434 - accuracy: 0.7360
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5433 - accuracy: 0.7355
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5432 - accuracy: 0.7367
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5430 - accuracy: 0.7362
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5430 - accuracy: 0.7355
Epoch 31/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5428 - accuracy: 0.7364
Epoch 32/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5427 - accuracy: 0.7363
Epoch 33/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5427 - accuracy: 0.7365
Epoch 34/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5427 - accuracy: 0.7360
Epoch 35/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5425 - accuracy: 0.7350
Epoch 36/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5428 - accuracy: 0.7362
Epoch 37/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5425 - accuracy: 0.7361
Epoch 38/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5426 - accuracy: 0.7366
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7367
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7362
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5424 - accuracy: 0.7359
Epoch 42/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5424 - accuracy: 0.7366
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5420 - accuracy: 0.7364
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7366
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7369
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7368
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7375
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5422 - accuracy: 0.7374
Epoch 49/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5419 - accuracy: 0.7367
Epoch 50/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5421 - accuracy: 0.7358
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5420 - accuracy: 0.7370
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7377
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7365
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7374
Epoch 55/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5423 - accuracy: 0.7371
Epoch 56/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5426 - accuracy: 0.7371
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7383
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7364
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7372
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7365
Epoch 61/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5419 - accuracy: 0.7377
Epoch 62/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5422 - accuracy: 0.7370
Epoch 63/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5417 - accuracy: 0.7381
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7379
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7370
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7381
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7370
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7371
Epoch 69/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5420 - accuracy: 0.7367
Epoch 70/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5416 - accuracy: 0.7377
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7372
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7374
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7371
Epoch 74/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5415 - accuracy: 0.7371
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5415 - accuracy: 0.7372
Epoch 76/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5416 - accuracy: 0.7369
Epoch 77/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5413 - accuracy: 0.7374
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7375
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7367
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7368
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7375
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7375
Epoch 83/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5411 - accuracy: 0.7362
Epoch 84/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5413 - accuracy: 0.7376
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7380
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7372
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7373
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7383
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7372
Epoch 90/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5410 - accuracy: 0.7383
Epoch 91/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5412 - accuracy: 0.7377
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7375
Epoch 93/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5409 - accuracy: 0.7376
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7376
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7370
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5412 - accuracy: 0.7379
Epoch 97/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5407 - accuracy: 0.7382
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5411 - accuracy: 0.7374
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7376
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7375

In [19]:
# Evaluate the model using the test data
# FIRST ATTEMPT- 72%
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5621 - accuracy: 0.7221 - 595ms/epoch - 2ms/step
Loss: 0.5620642304420471, Accuracy: 0.7220991253852844

In [21]:
# Export our model to HDF5 file
nn.save("/content/drive/MyDrive/Colab Notebooks/AlphabetSoupCharity.h5")

# **Analysis** **Report**

**Overview of the analysis**: Explain the purpose of this analysis.

**Results**: Using bulleted lists and images to support your answers, address the following questions:

*Data* *Preprocessing*

What variable(s) are the target(s) for your model?


*   The target variable is 'IS_SUCCESSFUL' column from the dataframe application_df

What variable(s) are the features for your model?


*   The features of this model are 'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS', 'STATUS', and 'ASK_AMT'.

What variable(s) should be removed from the input data because they are neither targets nor features?


*   'EIN' and 'NAME' columns were dropped from the model because they were neither targets nor features in the dataset.

*Compiling*, *Training*, *and Evaluating the Model*

How many neurons, layers, and activation functions did you select for your neural network model, and why?


*   In the first attempt I used 8 hidden_nodes_layer1 and 5 hidden_nodes_layer2. These were chosen from a similar homework assignemnt that I used as reference.

Were you able to achieve the target model performance?

*   No, the highest I was able to achieve was 73%. I was unable to meet the expecation of acieving about 75%.

What steps did you take in your attempts to increase model performance?


*   I dropped another column, added more hidden layers and neurons to a hidden layer in order to increase performance. My third attempt at adding more hidden layers increased my accuracry from 72% to 73%.


**Summary**: Summarize the overall results of the deep learning model. Include a recommendation for how a different model could solve this classification problem, and then explain your recommendation.



*   Overall, my deep learning model was around 72% accurate in predicting the classification issue. I think a higher accuracy could be achieved by additional data cleanup, dropping more unecessary columns and using a different model. I think random forest could be used in this situation and give a higher accuracy.